<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../xadmin/css/font.css">
        <link rel="stylesheet" href="../xadmin/css/xadmin.css">
        <script src="../xadmin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../xadmin/js/xadmin.js"></script>
        <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<!--        <script src="../js/page.js" charset="UTF-8"></script>-->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">

                        <div class="layui-card-body layui-table-body layui-table-main">

                            <table class="layui-table layui-form">
                                <thead>
                                  <tr>
                                    <th width="110px">操作时间</th>
                                    <th width="30px">公司名称</th>
                                    <th>操作日志</th>
                                    </tr>
                                </thead>
                                <tbody id="t_logs">

                                <#list logs as l>
                                  <tr>
                                    <td>${l.createTime ? string("MM月dd日 HH:mm:ss")}</td>
                                    <td>${l.companyShortName}</td>
                                    <td>${l.content}</td>
                                  </tr>
                                </#list>

                                </tbody>
                            </table>
                        </div>
                        <!--分页-->
                        <div class="layui-card-body ">
                            <div id="page" align="center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>



    <script>
        layui.use('laypage', function(){
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'page'
                //elem: 'page'
                ,count: ${count} //数据总数，从服务端得到
                ,limit:15
                ,groups:3
                ,jump: function(obj, first){
                    //首次不执行
                    if(!first){
                        $.ajax({
                            url:"getLog?page="+obj.curr,
                            type:"get",
                            success:function (data) {
                                //console.log(data);
                                document.getElementById("t_logs").innerHTML = data;
                            }
                        })
                    }
                }
            });


        });

        //格式化时间
        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "H+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>

</html>