<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="${request.contextPath}/xadmin/css/font.css">
    <link rel="stylesheet" href="${request.contextPath}/xadmin/css/xadmin.css">

    <script src="${request.contextPath}/xadmin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="${request.contextPath}/xadmin/js/xadmin.js"></script>

    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" action="materialRemember">

                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="material" lay-verify="required" lay-search="" lay-filter="material">
                                <option value="">输入关键字定位</option>
                                <#list materials_list as ml>
                                <option value="${ml.name}">${ml.name}</option>
                                </#list>
                            </select>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="">添加物料</button>&nbsp;&nbsp;&nbsp;<span style="color: #cc0000;font-size: 15px">没有对应物料请联系建泰办公室新增</span>
                        </div>
                    </form>
                    <p style="color: #cc0000;font-size: 15px">操作步骤：</p>
                    <p style="color: #cc0000;font-size: 15px">1.添加申报的物料（只要添加一次，系统会记录你的选择）</p>
                    <p style="color: #cc0000;font-size: 15px">2.选择对应的月份</p>
                    <p style="color: #cc0000;font-size: 15px">3.上传佐证【格式为压缩包，后缀zip、rar、7z】</p>
                    <p style="color: #cc0000;font-size: 15px">4.输入当月的使用量</p>
                    <p style="color: #cc0000;font-size: 15px">5.提交</p>
                </div>


                <div class="layui-card-body ">


                    <form class="layui-form" id="form_data">

                        <div class="layui-form-item">
                            <div class="layui-input-inline">

                                <input type="text" id="date_time" name="dateTime" readonly lay-verify="required|date" class="layui-input" placeholder="选择年月" >
                            </div>

                                <div>
                                    <#if evidence_upload??>
                                        <span style="color: #cc0000;font-size: 15px">当前月份尚未上传佐证（对账单或送货单文件）</span>
                                        <button type="button" class="layui-btn uploadEvidence" ><i class="layui-icon"></i>上传佐证</button>
                                     </#if>

                                    <#if evidence_update??>
                                        <span style="color: #cc0000;font-size: 15px">当前月份已上传佐证（对账单或送货单）</span>
                                        <button type="button" class="layui-btn uploadEvidence" ><i class="layui-icon"></i>重传佐证</button>
                                    </#if>
                                    <#if evidence_down??>

                                        <button type="button" class="layui-btn" onclick="down('${evidence_down.id}')"><i class="layui-icon"></i>下载佐证</button>
                                    </#if>
                                </div>


                        </div>

            <table   class="layui-table">
                <thead>
                <tr>
                    <th lay-data="{field:'id', width:150}">物料名</th>
                    <th lay-data="{field:'operation', width:60}">单位</th>
                    <th lay-data="{field:'kinds', width:400}">月用量（不为整数的，可保留小数点后两位）</th>
                    <th lay-data="{field:'total', width:80}">操作</th>
                </tr>
                </thead>

                <tbody>
                    <#list materials_remember as mr>
                    <tr>
                        <td>${mr.name}</td>
                        <td>${mr.unitCn}</td>
                        <td>
                            <input placeholder="该月的用量，不输入则为0" onkeyup="value=value.replace(/^(0+)|[^\d.]+/g,'')" type="text"  name="${mr.name}" required=""  autocomplete="off" class="layui-input" value="${(mr.used?c)!''}" >
                        </td>
                        <td width="20px">
                            <div align="center"><button class="layui-btn layui-btn-danger" type="button" onclick="bt_delete('${mr.name}')">删除</button></div>
                        </td>
                    </tr>
                    </#list>
                </tbody>

            </table>

                    </form>
                    <div align="center"><button type="button" class="layui-btn layui-btn-normal" onclick="save()">提交</button></div>
                </div>
<!--        ================================================-->
        <table class="layui-table ">
            <thead>
            <tr>
                <th>月份</th>
                <th>是否已提交</th>

            </tr>
            </thead>
            <tbody>
            <#assign map=submitted/>
            <#assign  keys=map?keys/>
            <#list keys as key>
            <tr>
                <td>${key}</td>
                <#if map[key]=="已提交">
                    <td><span style="color: #1B5E20">${map[key]!''}</span></td>
                <#else>
                <td><span style="color: #cc0000">${map[key]!''}</span></td>
                </#if>
            </tr>
            </#list>

            </tbody>
        </table>

<!--====================-->



            </div>
        </div>
    </div>
</div>
</body>
<script>
    //静态表格
    layui.use('table',function() {
        var table = layui.table;//加载表格模块
        table.init('demo', {
            //height: 500 //设置高度
            //page: true //开启分页
            //width:650
        });
    });

    layui.use(['form', 'layer','jquery','upload'],//不能删
        function() {
            $ = layui.jquery,upload = layui.upload;;
            var form = layui.form,
                layer = layui.layer;
            var d = new Date();
            //监听提交
            // //日期组件初始赋值
            layui.use('laydate', function(){
                var laydate = layui.laydate;
                //初始赋值
                laydate.render({
                    elem: '#date_time'
                    //,value: ""
                    ,type: 'month'
                    ,trigger:'click'	//日期框只能点击选择，不能手动输入
                    ,format: 'yyyy-MM'
                    ,theme: 'molv'
                    ,value: "${(dateTime)!''}"
                    //,max: "2020-06"
                    ,max: d.getFullYear() + '-' + lay.digit(d.getMonth() + 1)
                    ,done: function(date){
                        location.href = "materielData?dateTime="+date;
                    }

                });

            });
            upload.render({ //允许上传的文件后缀
                elem: '.uploadEvidence'
                , url: "upload?type=4&dateTime=${(dateTime)!''}"//改成您自己的上传接口
                , accept: 'file' //普通文件
                , exts: 'zip|rar|7z' //只允许上传压缩文件
                , done: function (res) {
                    if (res.code == 1){
                        layer.alert(res.msg, {
                            icon: 5
                        })
                    }else {
                        layer.alert(res.msg, {
                                icon: 6
                            },
                            function() {
                                //关闭当前frame
                                //xadmin.close();
                                // 可以对父窗口进行刷新
                                //xadmin.father_reload();
                                location.reload()
                            });
                    }


                    return false;
                }
                ,before:function () {
                    this.url = "upload?type=4&dateTime=${(dateTime)!''}";
                }

            });
        });


    function bt_delete(name) {
        $.ajax({
            url:"deleteMaterialRemember?name=" + name,
            type:"get",
            dataType:"json",
            success:function (res) {
                if (res.code == 0){
                    layer.alert(res.msg,{icon: 5})
                }else {
                    layer.alert(res.msg, {
                            icon: 6
                        },
                        function() {
                            location.reload()
                            //关闭当前frame
                            //xadmin.close();
                            // 可以对父窗口进行刷新
                            //xadmin.father_reload();
                        });
                }

            }
        })
        return false;
        //location.reload()
    }
    function save() {
        $.ajax({
            url:"saveMaterielUsed",
            type:"post",
            data:$("#form_data").serialize(),
            dataType:"json",
            success:function (res) {
                if (res.code == 0){
                    layer.alert(res.msg,{icon: 5})
                }else {
                    layer.alert(res.msg, {
                            icon: 6
                        },
                        function() {
                            location.reload()
                            //关闭当前frame
                            //xadmin.close();
                            // 可以对父窗口进行刷新
                            //xadmin.father_reload();
                        });
                }

            }
        });
    }
    //下载
    function down(id) {
        location.href = "download?type=4&id="+id;
    }


</script>

</html>